/* 
* WC User Product Hours - Estilos
* Estilos personalizados para los botones del plugin
*/

.btn-wc-user-product-hours-checkout {
    display: inline-block;
    background-color: var(--e-global-color-accent);
    color: white !important;
    padding: .618em 1em;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .btn-wc-user-product-hours-checkout {
        display: block;
        width: 100%;
    }
}
